.env
ssl/
logs/

# Node.js dependencies
node_modules/
certs/


# Logs
*.log

# Environment files


# Mac system files
.DS_Store

# Build directories
build/
dist/

# IDE configurations
.idea/
.vscode/
