<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="StaticContent">
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <directoryBrowse enabled="true" />
    <iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" debugHeaderEnabled="true" debuggerPortRange="5050-8081" maxLogFiles="30" loggingEnabled="true" devErrorsEnabled="true" nodeProcessStickySessions="true" />
  </system.webServer>
  <system.web>
    <identity impersonate="true" />
  </system.web>
</configuration>
